<!-- <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <p>bg-1day chart...</p>
    <h2 ngIf="nsData.length < 1">No data available</h2>
    <h2 ngIf="nsData.length >= 1">Data here</h2>
    <ul ngIf="nsData >= 1" ngFor="let sgv of nsData">
      <li>{{ sgv }}</li>
    </ul>
  </div>
</div> -->

<!-- <highcharts-chart 
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngularFlag"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->

<!-- <div id="container">
  <p>bg-1day</p>
</div> -->

<div class="row">
  <p>bg-1-day</p>
  <div class="container"></div>
</div>