<div class="row">
  <div class="col-xs-12 profile">
    <div class="profile-img">
      <img src="https://robohash.org/set_set3/bgset_bg1/3.14159?size=200x200" alt="ProfileImage">
    </div>
    <div class="profile-name">
      <h4>PATIENT NAME</h4>
    </div>
    <div class="profile-data-container">
        <div class="profile-data-labels">
            <label>LABEL1</label>
            <label>LABEL2</label>
            <label>LABEL3</label>
          </div>
          <div class="profile-data">
            <p>data1</p>
            <p>data2</p>
            <p>data3</p>
          </div>
    </div>
        
    
    
  </div>
</div>